/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

html {
  font-size: 20px;
  height: 100%
}

body {
  font-family: romulregular;
  height: 100%;
}

img:not(.professor_image){
    float:left;
    width: 100px;
    height: auto;
}

.content-wrapper {
  margin-bottom: 10px;

}

.footer-margin {
  background-color: #01a0e2;
  color: #01a0e2;
  padding-top: 10px;
  position:fixed;
  height: auto;
  bottom:0;
  width:100%;
  margin-top: 10px;
}

.header-margin {
  margin-top: 100px;
  background-color: #ffffff;
}

.star-a {
  color: #01a0e2;
}

.review-email {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: grey;
}
.review-text {
  margin-left: 20px;
}

.declarations-body {
  margin-left: 20px;
}

.professor-show {
  margin-left: 20px;
}

.declarations-images {
  height: 300px;
}

.review-form {
  margin-left: 20px;
}