<div class="footer-margin">
  <footer class="card-footer bg-light footer-font-style text-muted sticky-bottom footer-position">
  <strong><%=t('contact_us')%></strong>
  <i class="fa fa-phone"> +375 17 293-88-23</i>
  <i class="fas fa-home mr-3"><%= t('address') %></i>
  <i class="fas fa-envelope mr-3"> kafitas@bsuir.by</i>
</footer>
</div>